footer {
    background-color: var(--color-fundo);
    box-shadow: 0 0.1rem 0.2rem 0.2rem var(--color-primary);
    height: 10rem;
    margin-top: 2rem;
}

.container-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2rem;
    padding-left: 4rem;
}

.frase-footer {
    width: 22rem;
    font-size: 1rem;
    color: var(--color-primary);
    font-weight: 550;
    letter-spacing: .1rem;
}

.contato-footer {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-left: 2rem;
}

#contatos {
    font-size: 2rem;
    color: var(--color-primary);
}

.contato-footer a:hover {
    scale: 1.1;
}

.topo span{
    color: var(--color-green-2);
    width: 5rem;
    border-radius: 2rem;
    font-size: 1.1rem;
    font-weight: 550;
    letter-spacing: .1rem;
    padding: .8rem;
    margin-left: 5rem;
}

span i {
    font-size: 2rem;
    color: var(--color-primary);
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9b552a;
    height: 3rem;
    margin-top: 3rem;
    padding: 1.4rem;
}

.copy h6 {
    font-size: 1.2rem;
    color: var(--color-icon-h);
    letter-spacing: 2px;
}

@media (max-width: 778px) {
    footer{
        height: 14rem; 
        margin-bottom: 2rem;
    }

    .container-footer {
        display: block;
        padding-left: 2rem;
        gap: 6rem;
    }

    .frase-footer{
        text-align: center;
    }

    #contatos {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .copy{
        margin-top: 1.2rem;
        text-align: center;
        margin-bottom: 0;
    }

    .copy h6 {
        font-size: 1rem;
    }
}