/* inicio sobre */
section .sobre{
    overflow: auto;
    margin-bottom: 5rem;
    height: 100vh;
    z-index: 2; 
    display: grid;
    grid-template-columns:repeat(2,1fr);
}
 
#quadrado{
    background: var( --color-green-1);
    margin-left: -2rem;
    width: 540px;
    height: 400px;  
    animation-name: surgir; 
    animation-duration:2s;
}
.text-sobre{
    margin: 2rem 1rem 0 1rem;
    text-align: justify;
    color: var(--color-green-2);
    font-size: 1rem;
    width: 34rem;
    height: 350px;
}
.sobre h2{
    font-family: 'sweet', sans-serif;
    color: var(--color-title);
    margin-bottom: 2rem; 
    letter-spacing: 2px;
    font-size: 1.5rem;
}
.foto{
    position: absolute;
    margin-top: 2rem;
    left: 10rem;
    z-index: 1;
    width: 20rem;
}
.foto img{
    width: 18rem;
    height: 25rem;
    border: solid #545e45 2px;
}
/* final sobre */

/* inicio habilidade */
.habilidades{
    min-height: 10vh;
    margin-top: -12rem;
    margin-bottom: 4rem;
}

.icons-habilidades{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.icon-icon{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 1rem;
    width: 18rem;  
}

.icon-icon i{
    color: var(--color-icon-h);
    font-size: 3rem;
    background-color: var(--color-green-5);
    border-radius: 50%;
    padding: 0.4rem;
    margin-bottom: -1.5rem;
    z-index: 1;
}

.text-icon{
    background-color: var(--color-primary);
    border-radius: 1rem;
    padding: 0.8rem;
}
.icon-icon .text-icon h4{
    text-align: center;
    color: var(--color-icon-h);
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: 00;
    font-size: 1.2rem;
}
.icon-icon .text-icon p{
    text-align: justify;
    color: var(--color-icon-h);
}
/* final habilidades */

/* inicio portfólio */
.portfolio{
    height: 35rem;
}

.titulo-port{
    text-align: left;
    margin-left: 5rem;
}
.titulo-port h3{
    color: var(--color-title);
    font-family: 'sweet', sans-serif;
    letter-spacing: 2px;
    font-size: 1.5rem;
}
.titulo-port p{
    color: var(--color-green-2);
    margin-left: 1.4rem;
    margin-top: .8rem;
    font-size: 1.1rem;
    margin-bottom: 5rem;
}
.container-port{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.container-port .box{
    border: 2px solid var(--color-green-1);
    border-radius: 2rem;
    width: 18rem;
    height: 20rem;
}

.container-port .box .text-box{
    width: 14rem;
    margin: 1.5rem;
    text-align: justify;
}
.container-port .box .text-box h4{
    font-size: 1.1rem;
    width: 16rem;
    margin-bottom: 1.2rem;
    color: var(--color-primary);
    font-weight: 750;
}

.container-port .box .text-box p{
    color: var(--color-green-2);
    font-size: 1rem;
}

.container-port .box .icon-box i{
    font-size: 2rem;
    margin-bottom: .5rem;
    color: var(--color-green-1);
}
/* final portifólio*/

/*inicio contato*/
.contact{
    overflow: auto;
    height: 100vh;
    z-index: 2; 
    margin-bottom: -8rem;
    margin-top: 6rem;
}

.all-form{
    display: flex;
    justify-content: space-between;
}

.form{
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    margin-left: 8rem;
    margin-top: 1rem;
}

.form h2{
    font-family: 'sweet', sans-serif;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 1.4rem;
    width: 24rem;
    color: var(--color-primary);
    margin-bottom: 2rem;
    text-align: center;
    margin-left: -1rem;
}

.container-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
    margin-top: 2rem;
}

.form-group{
    position: relative;
}

.form-input{
    width: 124%;
    background: none;
    color: var(--color-basic);
    font-size: 1rem;
    padding: .6rem .3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #463a26;
}

.form-input:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(.9);
    transform-origin: left top;
    color: var(--color-green-2);
}

.form-label{
    color: var(--color-green-2);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, var(--color-basic) .3s;
}
.container-form textarea{
    width: 270%;
    font-family: 'Poppins', sans-serif;
}
.container-form .submit{
    background-color: var(--color-primary);
    color: #efdcac;
    border: none;
    border-radius: 2rem;
    padding: .5rem;
    width: 8rem;
    font-size: 1.4rem;
    font-weight: 550;
    cursor: pointer;
    margin-top: -1rem;
    margin-left: 72%;  
    margin-right: 40%;
    transition: all .5ms;
}

.container-form .submit:hover{
    scale: 1.1;
}

.modal{
    background-color: var(--color-green-1);
    position: fixed;
    top: 68%;
    left: 26%;
    transform: translate(-50%, -50%);
    width: 25rem;
    padding: .5rem;
    border-radius: 2rem;
}

.modal p{
    color: #efdcac;
    font-weight: 550;
    text-align: center;
    font-size: 1.2rem;
}
.detalhe-form{
    position: relative;
    justify-content: flex-end;
    z-index: -2;
    background: var( --color-green-1);
    border-radius: 2rem 0 0 2rem;
    width: 540px;
    height: 400px;  
    animation-name: surgir-direita; 
    animation-duration:2s;
}

.img-form{
    position: absolute;
    right: 8rem;
    z-index: 1;
    width: 24rem;
    height: 30rem;
    background-image: url(../img/imgs/foto-form.png);
    background-size: contain;
    background-repeat: no-repeat;
}
/*final contato*/

@media (max-width: 778px) {
section .sobre{
    display: flex;
    flex-direction: column-reverse;
    height: 140vh;
    margin-bottom: 2rem;
    margin-top: -4rem; 
}
.text-sobre{
   width: 22rem;
   margin-bottom: 6rem;
   margin-left: .6rem;
}
.foto{
    margin-top: 40rem;
    left: 2rem;
}

#quadrado{
    width: 96%;
    height: 400px;
}
.habilidades{
    height: 50rem;
    margin-top: 6rem;
    margin-bottom: -4rem;
}
.icons-habilidades{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.portifolio{
    height: 50rem;
}
.titulo-port{
    margin: 0;
}
.titulo-port h3{
    margin-left: 1rem;
}
.container-port{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
}
.contact{
    margin-bottom: -10rem;
    margin-top: 4rem;
    height: 130vh;
}

.all-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.form{
    margin-left: 0;
}

.form h2{
    width: 24rem;
    margin-left: 0;
}

.detalhe-form{
    width: 80%;
    height: 320px;
    right: -5.4rem;
}

.img-form{
    margin-top: 27rem;
    margin-right: -6rem;
    width: 16rem;
    height: 16rem;
}

.modal{
    top: 65%;
    left: 46%;
}
}