
.title-port h4{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'sweet', sans-serif;
    letter-spacing: 4px;
    font-weight: 600;
    margin-top: 4rem;
    color: var(--color-title);
}
.title-port hr{
    margin: 1rem 25rem 0.5rem 25rem;
    border-color: var(--color-green-3);
    border-width: 0;
    height: 1px;
    border-top-width: 2px;
}
.menu-portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 40px;
    transition: all 0.5s;
}

.menu-portfolio ul{
    display: flex;
    align-items: center;
    margin: 2rem 4rem 5rem;
    gap: 6rem;
}
.menu-portfolio ul li a{
    position: relative;
    display: inline-block;
    color: var(--color-secundary);
    font-size: 1.5rem;
    transition: all 0.5s;
}

.menu-portfolio ul li a:hover{
    color: var(--color-menu);
} 
.menu-portfolio ul li a.active-port{
    font-weight: 550;
    color: var(--color-menu);
}

.tab-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin: 0rem 2rem 0rem 2rem;
}
.tab-container .card{
    overflow: hidden;
    position: relative;
    border-radius: 2rem;
}
.tab{
    display: none;
}
.card img{
    border-radius: 2rem;
    width: 100%;
    object-fit: cover;
}
.intro{
   width: 100%;
   height: 3rem;
   padding: 2px;
   position: absolute;
   bottom: 1px;
   background-color: #926b4e;
   color: #000;
   transition: all 0.3s;
   border-radius: 2rem;
}

.intro h2{
    margin: 10px;
    font-size: 1.2rem;
    color: #E6D7C4;
}
.intro p{
    font-size: 1rem;
    text-align: left;
    padding: 0.5rem;
    visibility: hidden;
    opacity: 0;
}
.card:hover{
    cursor: pointer;
}
.card:hover .intro{
    height: 110px;
    bottom: 1px;
    background: #51331bde;
    color: #beb39e;
}
.card:hover .intro p{
    opacity: 1;
    visibility: visible;
}

@media (max-width: 778px) {
    .title-port{
        width: 26rem;
        margin-top: 44rem;
    }
    .title-port hr{
        text-transform: none;
    }

    .menu-portfolio ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem 2rem 1rem 2rem;
        gap: 2rem;
    }
    
    .tab-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


